<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="try_android_login_new"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        
        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Meta-data for Flutter Plugin -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- Facebook SDK Configuration -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <provider
            android:name="com.facebook.internal.FacebookInitProvider"
            android:authorities="com.facebook.app.FacebookContentProvider${applicationId}"
            android:exported="true" />

        <!-- Required to query activities that can process text -->
        <queries>
            <intent>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <data android:mimeType="text/plain" />
            </intent>
        </queries>

    </application>
</manifest>
